body {
    background-image: url("bg.png");
    background-position: center top;
    background-repeat: no-repeat
}

.title {
    margin-top: 12%;
    padding-left: 5%;
    font-family: å¾®è½¯é›…é»‘, Ubuntu Mono;
}

.navbar-header {
    font-family: å¾®è½¯é›…é»‘, é»‘ä½“, Ubuntu;
}
.title:hover {
    opacity: 0.9;
    transition-duration: 1s;
}

.title > p {
    line-height: 2.8;
    font-size: 15px;
}

.blank {
    margin-top: 90px
}
