<div>
  <ul style="list-style-type: none;padding-top: 10px;padding-left: 5%;">
    {% for item in site.data.projects %}
    
      <li style="margin: 10px 0;">
        <div style="margin:10px;border:10px solid #21252b;border-radius: 10px;width: 90%;padding-left: 5%;background-color: #21252b;">
        <a href="{{ item.url }}">
          
            <h3>{{ item.title }}</h3>
            <br>
            <em>
            {{item.introduce}}
            </em>
        
        </a>
      </div>
        </li>
      
    {% endfor %}
  </ul>
</div>
